.pagination {
  .active {
    .page-link {
      background-color: #1f6feb;
      color: #f0f6fc;
    }
  }

  .disabled {
    .page-link {
      background-color: transparent;
      border-color: transparent;
      color: #484f58;
    }
  }

  .page-link {
    color: #c9d1d9;
    background-color: transparent;
    border-color: transparent;
    transition: 100ms;
    border-radius: 6px;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;

    &:hover {
      color: #c9d1d9;
      border-color: #30363d;
      outline: none;
      box-shadow: none;
    }
  }
}
