header {
  background-color: #161b22;
  padding: 15px;
  font-weight: bold;

  svg {
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-right: 10px;
  }

  h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  h3 {
    color: #b1b1b1;
    font-size: 1.2em;
  }
}
